<nav class="navbar bg-body border-bottom">
    <div class="container">
        <span class="navbar-brand fw-semibold">
           @NavTitle
        </span>

        @if(Right is not null)
        {
            <div class= "d-flex gap-2">
               @Right
            </div>
        }
    </div>
</nav>



@code {

    //Move to partial cs same name plus.cs NavBar.razor.cs (must be partial)

    [Parameter]
    public string NavTitle { get; set; } = "Hej";

    [Parameter]
    public RenderFragment? Right { get; set; }
}
