<div class="card shadow-sm mb-4">
    <div class="card-body">

        <EditForm Model="_model" OnValidSubmit="AddTodo">
            <DataAnnotationsValidator />

            <div class="input-group input-group-lg">
                <InputText @bind-Value="_model.Text"
                           class="form-control"
                           placeholder="Add todo..."
                           autofocus>
                </InputText>

                <button type="submit"
                        class="btn btn-primary">
                    Add
                </button>

            </div>

            <div class="mt-2">
                <ValidationMessage For="@(() => _model.Text)" />
            </div>

        </EditForm>

        <div class="form-text mt-2">
            Write something and click Add.
        </div>
    </div>
</div>


@code {

    private AddToDoItem _model = new();

    [Parameter]
    public EventCallback<string> OnAdd { get; set; }

    private async Task AddTodo()
    {

        if (OnAdd.HasDelegate)
            await OnAdd.InvokeAsync(_model.Text);

        _model.Text = string.Empty;
    }

}
