<div class="card shadow-sm mb-4">
    <div class="card-body">

        <div class="input-group input-group-lg">
            <input
                   @bind = "_input"
                   type="text"
                   class="form-control"
                   placeholder="Add todo..."
                   autofocus>

            <button type="button"
                    class="btn btn-primary"
                    @onclick="AddTodo">
                Add
            </button>

        </div>

        <div class="form-text mt-2">
            Write something and click Add.
        </div>
    </div>
</div>


@code {

    private string _input = string.Empty;

    [Parameter]
    public EventCallback<string> OnAdd { get; set; }

    private async Task AddTodo()
    {

        if (OnAdd.HasDelegate)
            await OnAdd.InvokeAsync(_input);
       
        _input = string.Empty;
    }

}
