<ul class="list-group mt-4">

    @foreach (var item in _toDoItems)
    {
        <li class="list-group-item d-flex align-items-center justify-content-between py-3"
            data-id="1">
            <div class="d-flex align-items-center gap-3">
                <input class="form-check-input m-0" type="checkbox" checked="@item.Completed">
                <div>
                    <div class="fw-medium @(item.Completed ? "text-decoration-line-through" : "")">@item.Text</div>
                    <div class="small text-secondary">@item.Created</div>
                </div>
            </div>

            <button class="btn btn-outline-danger btn-sm" type="button">
                Delete
            </button>
        </li>
    }

</ul>

@code {
    private List<ToDoItem> _toDoItems =
        [
            new(){Text = "Buy bananas", Completed = true, Created = DateTime.Now.AddDays(-2)},
            new(){Text = "Walk the dog"},
            new(){Text = "Coffe",  Created = DateTime.Now.AddDays(-1).AddHours(5)},
        ];
}
