 <h4>Total todos: @State.Count</h4>

 <ul class="list-group mt-4">

    @foreach (var item in ToDoItems)
    {
       <Item @key="item.Id" ToDoItem="item" OnDelete="OnDelete" OnToggle="OnToggle" />
    }

</ul>

@code {

    [Inject]
    public ToDoState State { get; set; } = null!;

    [Parameter]
    public List<ToDoItem> ToDoItems { get; set; } = [];

    [Parameter]
    public EventCallback<Guid> OnDelete { get; set; }

    [Parameter]
    public EventCallback<Guid> OnToggle { get; set; }

}
